.board {
  width: 1800px;
  height: 750px;
  background-color: #d4d4d4;
}
.space {
  margin-bottom: 10px;
}
table,
tr,
td {
  border: none;
  border-collapse: collapse;
}
.block {
  width: 16px;
  height: 16px;
  background-color: rgb(231, 231, 231);
  box-shadow: inset 0px 0px 0px 1px #fff;
  background-size: contain;
}
